* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
   font-family: 'Ubuntu', sans-serif;
}

body {
  height: inherit;
  width: 100%;
}

/* ---------- Parallax ---------- */
header.warrior-box {
  position: relative;
  height: 600px;
  background-image: url(../images/desert-header.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
}

#logo {
  width: 75%;
  height: 100%;
  background-image: url(../images/testlogo.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  float: left;
}

div.warrior-foreground {
  width: 25%;
  height: 100%;
  background-image: url(../images/granoktop.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  margin-top: 8%;
  margin-left: 0%;
  float: left;
}

button {
  color: black;
}

.nav {
  color: #f7f5d7;
  height: 40px;
  background-color: #1f3447;
  text-align: center;
  font-weight: bold;
  border: solid 2px #f7f5d7;
}

.nav ul {
  display: inline-block;
  margin: 0%;
  width: 100%;
  padding-top: 6px;
  list-style-type: none;
}

.nav li {
  display: inline-block;
  list-style-type: none;
  width: 20%;
}

.nav a {
  text-decoration: none;
  color: #f7f5d7;
}

a.nav-active {
  border-top: 1px solid #f7f5d7;
} 

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  border-top: 0;
}

.description {
  height: 550px;
  width: 100%;
  background-image: url(../images/description-background.jpg);
  color: #f7f5d7;
}

.description article {
  float: left;
  width: 60%;
}

.description h2 {
  padding-left: 10px;
  padding-top;
}

.description b {
  font-size: 1.2em;
  font-style: italic;
}

.description p {
  width: 100%;
  padding-left: 10px;
}

#descriptionRaces {
  padding-top: 1%;
  text-align: center;
}

.description #races {
}

.description button {
  margin: 1%;
}

#descriptionPic {
  background-image: url(../images/human.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 90%;
  width: 40%;
  float: left;
  margin-top: 1%;
}

.roles {
  height: 570px;
  width: 100%;
  background-color: #1f3447;;
  color: #f7f5d7;

}

.roles h1 {
  margin: 0%;
  padding-top: 1%;
  padding-left: 1%;
  text-align: left;
}

.roles .warrior-carousel {
 width: 100%;
 height: 550px;
}

.roles #beserker {
  background-image: url(../images/beserker1.png);
  background-size: cover;
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
}

#thebeserker {
  margin-left: 70%;
  margin-top: 4%;
  font-size: 2.5rem;
}

#beserker article {
  margin-left: 70%;
  margin-top: 2%;
  padding: 1%; 
}

#beserker li {
  font-size: 1.5rem;
}

.roles #tank {
  background-image: url(../images/roles-tank1.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
}

#thetank {
  margin-top: 4%;
  font-size: 2.5rem;
  margin-left: 70%;
}

#tank article {
  margin-left: 70%;
  margin-top: 2%;
  padding: 1%;
}

#tank li {
  font-size: 1.5rem;
}

.media {
  background-image: url(../images/blurred-background-31.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 750px;
  width: 100%;
  color: #f7f5d7;
}

.media .column {
  text-align: center;
  width: 100%;
}

.media h1 {
  margin: 0;
  padding-left: 1%;
  padding-top: 3%;
  text-align: left;
}

.hideme {
  opacity: 0;
}

.media .screenshots {
  width: 30%;
  height: 550px;
  display: inline-block;
}

.media h3 {
  display: inline-block;
  width: 30%;
  padding-left: 5%;
}

.screenshots img {
  width: 100%;
  height: 50%;
  padding: 2%;
}

.media .videos {
  width: 30%;
  height: 550px;
  display: inline-block;
}

.videos img {
  width: 100%;
  height: 50%;
  padding: 2%;
}

.media .wallpapers {
  width: 30%;
  height: 550px;
  display: inline-block;
}

.wallpapers img {
  width: 100%;
  height: 50%;
  padding: 2%;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #1f3447;
  text-align: center;
}

footer #fewd69 {
  float: left;
  padding: 1%;
  border-right: white solid 1px;
  margin-top: 1%;
}

footer p {
  margin: auto 0;
  display: inline-block;
  padding-top: 3%;
  padding-left: 5%;
  color: #f7f5d7;
}

/* ======== Picture Swap ======== */



/* ========== MEDIA QUERY ========== */
width 730px